{% extends "layout.html" %}
{% block body %}
  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{url_for('static',filename='img/home-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="site-heading">
            <h1>WELCOME TO DASHBOARD</h1>
            <span class="subheading">You can edit and delete the posts here</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

     WELCOME TO DASHBOARD
        <form name="sentMessage" id="contactForm" action="/edit/{{SNO}}" method="post" novalidate>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>TITLE</label>
              <input type="text" class="form-control" placeholder="Title" id="TITLE" name="TITLE" required data-validation-required-message="Please enter your name." value="{{post1.TITLE}}">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>SLUG</label>
              <input type="text" class="form-control" placeholder="Slug" id="SLUG" name="SLUG"required data-validation-required-message="Please enter your email address." value="{{post1.Slug}}">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group col-xs-12 floating-label-form-group controls">
              <label>POSTED BY</label>
              <input type="text" class="form-control" placeholder="Posted By" id="POSTEDBY" name="POSTEDBY" required data-validation-required-message="Please enter your phone number." value="{{post1.POSTEDBY}}">
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <div class="control-group">
            <div class="form-group floating-label-form-group controls">
              <label>CONTENT</label>
              <textarea rows="5" class="form-control" placeholder="Content" id="CONTENT" name="CONTENT" required data-validation-required-message="Please enter a message.">{{post1.CONTENT}}</textarea>
              <p class="help-block text-danger"></p>
            </div>
          </div>
          <br>
          <div id="success"></div>
          <button type="submit" class="btn btn-primary" id="sendMessageButton">Send</button>
        </form>
     
        
        
        <!-- Pager -->
        <div class="clearfix">
          <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
        </div>
      </div>
    </div>
  </div>
{% endblock %}