<!DOCTYPE html>
<html>
<head>
	<title>ATTACK ON TITAN</title>
	<link href="{{url_for('static',filename='vendor/bootstrap/css/bootstrap.min.css')}}" rel="stylesheet">

  <!-- Custom fonts for this template -->
  <link href="{{url_for('static',filename='vendor/fontawesome-free/css/all.min.css')}}" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css'>
<body>
  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
    <div class="container">
      <a class="navbar-brand" href="/">ATTACK ON TITAN</a>
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
  <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="/episodelist">episode list</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="#">Characters</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://attackontitan.fandom.com/wiki/Attack_on_Titan_Wiki" target="blank">wiki</a>
            
          </li>
        </ul>
      </div>
      </div>
  </nav>

  <!-- Custom styles for this template -->
  <link href="{{url_for('static',filename='css/clean-blog.min.css')}}" rel="stylesheet">
</head>

<style>
    body{
      background-image: url({{url_for('static',filename='img1.jpg')}});
      background-repeat: no-repeat;
      backgorund-attachment:fixed;
      background-size:cover;}

  </style>
<body style="background-color: grey;">
<!--<h1><center><p style="color:orange">ATTACK ON TITAN S4</p></center></h1>-->
<!--<center><img src="{{url_for('static',filename='img1.jpg')}}"style="width:600px;height:400px;"></center>-->
<!--<p style="color: lightgreen">The fourth and final season of the Attack on Titan anime television series, titled Attack on Titan: The Final Season, is produced by MAPPA, chief directed by Jun Shishido, and directed by Yūichirō Hayashi, replacing Tetsurō Araki and Masashi Koizuka respectively. Scriptwriter Hiroshi Seko took over the series composition from Yasuko Kobayashi, and Tomohiro Kishi replaced Kyōji Asano as character designer due to the series switching production studios.</p>
<p style="color: lightgreen">Good morning everyone, it was nice to meet you</p>
<a href="https://attackontitan.fandom.com/wiki/Attack_on_Titan_Wiki" target="blank" style="color: orange">ATTACK ON TITAN WIKI</a>
<hr>
<button onclick="location.href='https://attackontitan.fandom.com/wiki/Attack_on_Titan_Wiki'" type="button">
ATTACK ON TITAN WIKI</button>-->
<hr>
<hr>




</html>